.sidebar {
    background-color: #eee;
    width: 60px;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 1rem;
  }
  
  .sidebar-icon {
    background: none;
    border: none;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  