.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.student-profiles {
  display: flex;
  justify-content: center;
  padding: 10px;
}
